# Linux
*~
*.o
lwrace
*.swp
*.swo

# Windows VS2010
*.opensdf
*.suo
*.user
/ipch/*
/Debug/*

# For autotools
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.guess
config.log
config.sub
config.status
configure
depcomp
install-sh
ltmain.sh
missing
libtool
stamp-h1
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
src/.deps/
src/Makefile
src/Makefile.in

